/*
**
**  Index
**
*/

.index{
    background: url('../img/stones3.jpg') no-repeat;
    background-size: auto;
}

.index h1{
    text-align: center;
    padding-top: 20px;
}

.index .login-card{
    margin-top: 50px;
    
    border-radius: 5px;
    border: 1px solid #34495E;
    box-shadow: #34495E 1px 1px 20px 5px;
 
    background: rgba(255, 255, 255, 0.9);
}

.index .login-card hr{
    width: 80%;
    margin-bottom: 20px;
}

.index form #register{
    position: absolute;
    bottom: 40px;
    
    text-decoration: none;
}

.index .btn-default, .index .btn-primary{
    float: right;
    margin-bottom: 30px;
    margin-top: 15px;
}

.index .btn-default{
    margin-right: 20px;
}

.index .reserve{
    text-align: center;
    
    position: relative;
    top: 100px;
    
    color: #337AB7;
    text-shadow: #2C3E50 1px 1px 5px;
    /*
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    
    width: 300px;
    height: 30px;
    margin: 0 auto;
    
    box-shadow: #34495E 1px 1px 20px 5px;
    */
}


/*
**
**  Registro
**
*/

.registro{
    background: url('../img/stones3.jpg') no-repeat;
    background-size: auto;
}

.registro h1{
    text-align: center;
    padding-top: 20px;
}

.registro .login-card{
    margin-top: 50px;
    
    border-radius: 5px;
    border: 1px solid #34495E;
    box-shadow: #34495E 1px 1px 20px 5px;
 
    background: rgba(255, 255, 255, 0.9);
}

.registro .login-card hr{
    width: 80%;
    margin-bottom: 20px;
}

.registro .btn-default, .registro .btn-primary{
    float: right;
    margin-bottom: 30px;
    margin-top: 15px;
}

.registro .btn-default{
    margin-right: 20px;
}

.registro .reserve{
    text-align: center;
    
    position: relative;
    top: 100px;
    
    color: #337AB7;
    text-shadow: #2C3E50 1px 1px 5px;
    /*
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    
    width: 300px;
    height: 30px;
    margin: 0 auto;
    
    box-shadow: #34495E 1px 1px 20px 5px;
    */
}


/*
**
**  Resultados
**
*/

.body h1{
    text-align: center;
    padding-top: 3em;
}

a, a:hover{
    text-decoration: none;
}

.top-banner{
    width: 100%;
    height: 300px;
    
    background: url('../img/entrepreneur.jpg') no-repeat fixed;
    background-size: cover;
    background-position: bottom;
}

.end-banner{
    width: 100%;
    height: 700px;
    
    background: url('../img/girls.jpg') fixed;
    background-size: cover;
}
.body{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
}

.option-card{
    width: 100%;
    
    border: 2px solid #52B3D9;
    border-radius: 10px;
    
    margin: 0 auto;
}

.option-content{
    margin: 0 auto;
    width: 100px;
    
}

.option-card .icon{
    font-size: 50px;
    width: 50px;
    color: #4183D7;
    
    margin-left: 25px;
    margin-top: 25px;
}

.option-card p{
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

/*
**
**  Home
**
*/

.home{
    background: url('../img/stones3.jpg') no-repeat;
    background-size: auto;
}

.home h1{
    text-align: center;
    padding-top: 20px;
}

.home .home-card{
    margin-top: 50px;
    
    border-radius: 5px;
    border: 1px solid #34495E;
    box-shadow: #34495E 1px 1px 20px 5px;
 
    background: rgba(255, 255, 255, 0.9);
}

.home .home-card hr{
    width: 80%;
    margin-bottom: 20px;
}


.home .reserve{
    text-align: center;
    
    position: relative;
    top: 100px;
    
    color: #337AB7;
    text-shadow: #2C3E50 1px 1px 5px;
    /*
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    
    width: 300px;
    height: 30px;
    margin: 0 auto;
    
    box-shadow: #34495E 1px 1px 20px 5px;
    */
        }

.list-group a{
    color: red;
    font-size: 20px;
    text-align: center;
    width: 70%;
    height: 10%;
    margin: 0 auto;
    }