/*
**
**  Index
**
*/

.index{
    background: url('../img/stones3.jpg') no-repeat;
    background-size: auto;
}

.index h1{
    text-align: center;
    padding-top: 20px;
}

.index .login-card{
    margin-top: 50px;
    
    border-radius: 5px;
    border: 1px solid #34495E;
    box-shadow: #34495E 1px 1px 20px 5px;
 
    background: rgba(255, 255, 255, 0.9);
}

.index .login-card img{
    margin-top: 30px;
}

.index .login-card hr{
    width: 80%;
    margin-bottom: 20px;
}

.index form #register{
    position: absolute;
    bottom: 40px;
    
    text-decoration: none;
}

.index .btn-default, .index .btn-primary{
    float: right;
    margin-bottom: 30px;
    margin-top: 15px;
}

.index .btn-default{
    margin-right: 20px;
}

.index .reserve{
    text-align: center;
    
    position: relative;
    top: 100px;
    
    color: #337AB7;
    text-shadow: #2C3E50 1px 1px 5px;
    /*
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    
    width: 300px;
    height: 30px;
    margin: 0 auto;
    
    box-shadow: #34495E 1px 1px 20px 5px;
    */
}


/*
**
**  Registro
**
*/

.registro{
    background: url('../img/stones3.jpg') no-repeat;
    background-size: auto;
}

.registro h1{
    text-align: center;
    padding-top: 20px;
}

.registro .login-card{
    margin-top: 50px;
    
    border-radius: 5px;
    border: 1px solid #34495E;
    box-shadow: #34495E 1px 1px 20px 5px;
 
    background: rgba(255, 255, 255, 0.9);
}

.registro .login-card hr{
    width: 80%;
    margin-bottom: 20px;
}

.registro .btn-default, .registro .btn-primary{
    float: right;
    margin-bottom: 30px;
    margin-top: 15px;
}

.registro .btn-default{
    margin-right: 20px;
}

.registro .reserve{
    text-align: center;
    
    position: relative;
    top: 100px;
    
    color: #337AB7;
    text-shadow: #2C3E50 1px 1px 5px;
    /*
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    
    width: 300px;
    height: 30px;
    margin: 0 auto;
    
    box-shadow: #34495E 1px 1px 20px 5px;
    */
}


/*
**
**  Resultados
**
*/


.body h1{
    text-align: center;
    padding-top: 3em;
 
    
	
}

a, a:hover{
    text-decoration: none;
}



.resultado{

    background: url('../img/stones3.jpg') no-repeat;

}

.resultado-panel {
    position:relative;
    top:5em;
    border-radius: 5px;
    border: 1px solid #34495E;
    padding-top: 30px;
    background: rgba(255, 255, 255, 0.9);

}

.resultado-panel h1{
    text-align: center;
}

.option-card{
    width: 100%;
    
    border: 2px solid #52B3D9;
    border-radius: 10px;
    
    margin: 0 auto;
}

.option-content{
    margin: 0 auto;
    width: 100px;
    
}

.option-card .icon{
    font-size: 50px;
    width: 50px;
    color: #4183D7;
    
    margin-left: 25px;
    margin-top: 25px;
}

.option-card p{
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}
.reserve2{
text-shadow: 1px 1px #000000;
color:GoldenRod ;
position:relative;
bottom:-5em;
	padding-top: 30px;
	text-align: center;

}


/*
**
**  Home
**
*/

.home{
    background: url('../img/stones3.jpg') no-repeat;
    background-size: auto;
}

.home h1,h3{
    text-align: center;
    padding-top: 20px;
}

.home .home-card{
    margin-top: 50px;
    
    border-radius: 5px;
    border: 1px solid #34495E;
    box-shadow: #34495E 1px 1px 20px 5px;
 
    background: rgba(255, 255, 255, 0.9);
}

.home .home-card hr{
    width: 80%;
    margin-bottom: 20px;
}


.home .reserve{
    text-align: center;
    
    position: relative;
    top: 100px;
    
    color: #337AB7;
    text-shadow: #2C3E50 1px 1px 5px;
    /*
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    
    width: 300px;
    height: 30px;
    margin: 0 auto;
    
    box-shadow: #34495E 1px 1px 20px 5px;
    */
        }
    

     /*
    estilo de las listas*/    
.list-group a{
    color: red;
    font-size: 20px;
    text-align: center;
    width: 70%;
    height: 10%;
    margin: 0 auto;
    }

#datepicker{
    float: right;
    padding-right: 30px;
    padding-top: 50px;
}

h4{
    color: #F03030;
    text-align: center;
}
.parrafo{
    color: #5D0910;
}
.moti{
    background-color: #D6F2F2;
    border-radius: 5px 5px; 
    text-shadow: #2C3E50 1px 1px 5px;
}
/*            Navigation menu                */
.nav-pills > li + li {
    margin-left: 0;
}
.nav-pills > li > a {
    border: 1px solid #2CA8FF;
    border-radius: 0;
    color: #2CA8FF;
    margin-left: -1px;
}



/*      Here the code for the wizard           */

label{
    font-weight: 400;
}


.wizard-container{
   
    padding-top: 100px;
    z-index: 3;
}
.wizard-card{
    min-height: 410px;
    
    padding: 10px 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.wizard-card .tab-content{
    min-height: 340px;
    padding: 20px 10px;
}

.wizard-card .wizard-footer{
    padding: 0 10px;
}

.wizard-card .disabled{
    display: none;
}

.wizard-card .wizard-header h3{
    font-weight: 200;
    text-align: center;
}
.wizard-card > ul > li{
    text-align: center;
}
.wizard-card > ul > li a {
    border: 0 !important;
    background-color: #999999;
    color: #FFFFFF !important;
    font-size: 12px;
}




/*            ghnjk                */

/*cuestionario*/
body{
 background: url('../img/stones3.jpg') no-repeat;
    
	}


.cuestionario{
position:relative;
top:2em;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;


background: rgba(255, 255, 255, 0.9);

}

.preguntas-logo-izquierdo{
width:162px;
height:85px;

}
.preguntas-cuestionario{

background: rgba(255, 255, 255, 0.6);

}

.preguntas-logo-derecho{
margin-left:-22px;
width:162px;
height:85px;


}
.preguntas{

text-align:center;

}
.cuestionario{

margin-left: 79px;

}

.reserve3{
text-shadow: 1px 1px #000000;
color:GoldenRod ;
position:relative;
bottom:-3em;
	padding-top: -80px;
	text-align: center;

}

.preguntas1{

margin-left:182px;
margin-top:22px;

}

.radioizquierdo{
margin-left:92px;


}
.radioderecho{
margin-left:-74px;


}
.radioderecho2{
margin-left:-74px;
margin-bottom:22px;


}

.lineadiv{

border: solid 1px black;
width:599px;

}

.label1{

margin-bottom:-22px;

}

.label2{
margin-bottom:-82px;


}

.titumaspregu{

color:black;

}

.titumenospregu{

color:black;

}