h1{
    text-align: center;
}

a, a:hover{
    text-decoration: none;
}

.option-card{
    width: 100%;
    
    border: 2px solid #52B3D9;
    border-radius: 10px;
}

.option-content{
    margin: 0 auto;
    width: 100px;
    
}

.option-card .icon{
    font-size: 50px;
    width: 50px;
    color: #4183D7;
    
    margin-left: 25px;
    margin-top: 25px;
}

.option-card p{
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}