<!DOCTYPE html>
<html ng-app="myApp" >

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/two.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>pregunta para entrar a opciones</title>
  
</head>

<body>
 
<div class="container">
  <div ng-controller="WizardController">

    <script id="wizard.html" type="text/ng-template">
        <row>
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <div class="wizard">
                    <div class="row"><!--primer row que tiene el titulo-->
                        <div class="col-md-2 col-xs-2"> </div>
                        <div class="col-md-8 col-xs-8">

                            <h1 class="titu">Preguntas para entrar a opciones</h1>
                        </div>

                        <div ng-transclude></div>

                        <div class="row"><!--tercer row que tiene el boton de cambiar de pagina-->
                            <div class="col-md-5 col-xs-3"></div>
                            <div class="col-md-6 col-xs-8">


                                <div class="buttons">
                                    <a class="btn btn-default" ng-click="showPreviousStep()" ng-show="hasPrevious()">Anterior</a>
                                    <a class="btn btn-default" ng-click="showNextStep()" ng-show="hasNext()">Siguiente</a>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </row>

    </script>
<div class="row"><!--segundo row que tiene preguntas-->
	         	
    <wizard on-before-step-change="log(event)" on-step-changing="log(event)" on-after-step-change="log(event)">
<div class="col-md-5 col-xs-3"></div>
        <div class="col-md-7 col-xs-8">
     <step>
        <h4><strong>pregunta 1:</strong></h4>
        <p>quien es el mas guapo:</p>
        
        <label>
        <input type="radio" ng-model="user.pregu1" value="guemez">
         guemez  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu1" value="luis">
    luis  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu1" value="maik">
    Maik  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu1" value="jordan">
 jordan  </label><br/>
      </step>

      <step>
        <h4><strong>pregunta 2:</strong></h4>
        <p>quien es el mas guapo:</p>
        
        <label>
        <input type="radio" ng-model="user.pregu2" value="guemez">
         guemez  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu2" value="Luis">
    luis  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu2" value="Maik">
    Maik  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu2" value="jordan">
 jordan  </label><br/>
      </step>

      <step>
        <h4><strong>pregunta 3:</strong></h4>
        <p>quien es el mas guapo:</p>
        
        <input type="radio" ng-model="user.pregu3" value="guemez">
         guemez
  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu3" value="luis">
    luis  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu3" value="maik">
    Maik  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu3" value="jordan">
 jordan  </label><br/>
      </step>

      <step>
         <h4><strong>pregunta 4:</strong></h4>
        <p>quien es el mas guapo:</p>
        
        <input type="radio" ng-model="user.pregu4" value="guemez">
         guemez
  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu4" value="luis">
    luis  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu4" value="maik">
    Maik  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu4" value="jordan">
 jordan  </label><br/>
      </step>
      <br/>
		<step>

         <h4><strong>pregunta 5:</strong></h4>
        <p>quien es el mas guapo:</p>
        
           <input type="radio" ng-model="user.pregu5" value="1">
           1
  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu5" value="2">
    2  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu5" value="3">
    3  </label><br/>
      </step>
      <step >

         <h4><strong>pregunta 6:</strong></h4>
        <p>quien es el mas guapo:</p>
    
           <input type="radio" ng-model="user.pregu6" value="1">
           1
  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu6" value="2">
    2  </label><br/>
  <label>
    <input type="radio" ng-model="user.pregu6" value="3">
    3  </label><br/>
      </step>
      
      </div>
	  <div class="col-md-5 col-xs-4"></div>
			<div class="col-md-6 col-xs-6">
      <step title="Respuestas">

        <strong>Pregunta 1:</strong> {{user.pregu1}}
        <br>
        <strong>Pregunta 2:</strong> {{user.pregu2}}
        <br>
        <strong>Pregunta 3:</strong> {{user.pregu3}}
        <br>
        <strong>Pregunta 4:</strong> {{user.pregu4}}
        <br>
        <strong>Pregunta 5:</strong> {{user.pregu5}}
        <br>
        <strong>Pregunta 6:</strong> {{user.pregu6}}
        <br>
      </step>
    </wizard>
  </div>
  </div>
  
  <div class="reserve">
                    <small>
                        <p>2015 - Todos los derechos reservados</p>
                    </small>                </div>
                </div>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
		
